body{
	font-family: "Goudy Old Style", serif;
	background-image: url(images/download.jpg);
	background-size: cover;
	
}

.nav-wrapper{
	max-width: 1200px
	
	padding: 15px 20px;
	margin-top: 30px;
	text-align: center;
	
}
.nav-wrapper ul li{
	display: inline;
	list-style-type: none;

}
.nav-wrapper a{
	letter-spacing: .1em;
	text-decoration:  none;
	font-weight: bold;
	color: #000;
}
.nav-wrapper a:hover{
	cursor: pointer;
	color:#eee;
}

.list-item{
	margin-left: 10px;
	text-transform: uppercase;
	padding: 10px;

}

.logo{

	font-weight: bold;
	font-size: 30px;
}

.menu_bar{
	display: none;
}

.main-wrapper{
	max-width: 1200px;
	margin: auto;
}
.wrapper{
	max-width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3,1fr); 
	grid-gap:10px;
	grid-template-areas: 
	"Onepicture Twopicture Threepicture"
	"Fourpicture Fivepicture Sixpicture"
	"Sevenpicture Eightpicture Ninepicture"
	}
	.wrapper > .picture1 >div,
	.wrapper > .picture2 >div,
	.wrapper > .picture3 >div,
	.wrapper > .picture4 >div,
	.wrapper > .picture5 >div,
	.wrapper > .picture6 >div,
	.wrapper > .picture7 >div,
	.wrapper > .picture8 >div,
	.wrapper > .picture9 >div {
		padding: 60px;
		padding-bottom :250px;

	}

	.picture1{
		grid-area:Onepicture;
		background: url(images/rain.jpg);
		background-size: cover;

	}
	.picture2{
		grid-area:Twopicture;
		background: url(images/me.jpg);
		background-size: cover;
	}
	.picture3{
		grid-area:Threepicture;
		background: url(images/girl.jpg);
		background-size: cover;
	}
	.picture4{
		grid-area:Fourpicture;
		background: url(images/dessert.jpg);
		background-size: cover;
	}
	.picture5{
		grid-area:Fivepicture;
		background: url(images/cat.jpg);
		background-size: cover;
	}
	.picture6{
		grid-area:Sixpicture;
		background: url(images/sunset.jpg);
		background-size: cover;
	}
	.picture7{
		grid-area:Sevenpicture;
		background: url(images/bird.jpg);
		background-size: cover;
	}
	.picture8{
		grid-area:Eightpicture;
		background: url(images/tree.jpg);
		background-size: cover;
	}
	.picture9{
		grid-area:Ninepicture;
		background: url(images/beach.jpg);
		background-size: cover;
	}

.footer{
	display: grid;
	margin: auto;
	grid-template-columns: minmax(20px,300px) 
	minmax(20px,300px) minmax(20px,300px) minmax(20px,300px);
	justify-content: center;
	grid-template-rows: 1fr 1fr;
	background: linear-gradient(rgba(0,0,0,.6),
		rgba(0,0,0,.1)) border-box, 
	url(https://images.unsplash.com/photo-1480554840075-72cbdabbf689?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60)
	no-repeat center center;
	background-size: cover;
	
	color: #fff;
	background-size: cover;
}

.footer >div{
	padding: 20px;

}
.fbfb a{
	color: #eee;
	text-decoration: none;
}
.copyright{
	max-width: 1200px;
	margin:auto;
	padding: 20px;
	grid-column: 1/-1;

}
	@media screen and (max-width: 690px){
		
.wrapper{
			grid-template-areas: 
				"Onepicture Onepicture Onepicture"
				"Twopicture Twopicture Twopicture"
				"Threepicture Threepicture Threepicture"
				"Fourpicture Fourpicture Fourpicture"
				"Fivepicture Fivepicture Fivepicture"
				"Sixpicture Sixpicture Sixpicture"
				"Sevenpicture Sevenpicture Sevenpicture"
				"Eightpicture Eightpicture Eightpicture"
				"Ninepicture Ninepicture Ninepicture"
		}
		.logo{
			grid-column: 1/3;
			margin-bottom: 10px;
		}
		.nav-items{
			grid-column: 1/5;
			text-align: center;
		}

		.nav-wrapper ul{
			padding: 0;
			margin: 0;

		}

		.nav-wrapper ul li{
			display: block;
		}

	.menu_bar{
		top: 0;
  		right:0; 
  		bottom: 0;
  		margin-left: 50px;
		display: inline-block;
		border: 2px solid #333;
		color:#333;
		padding: 10px;
		font-weight: bold;
		border-radius: 3px;
		font-size: 10px;
		position:relative 	;
	}
	.menu_bar:hover{
		cursor: pointer;
	}
	.mobile-show{
		display: block;
	}
	.mobile-hide{
		display: none;
	}
	.footer> div{
		grid-column: 1/-1; 

	}
